/* .board {
  background-color: lightgray;
  padding: 2rem;
  width:fit-content;
  border-radius:1rem;
} */

.board {
  background-color: lightgray;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  min-width: fit-content;
}

.svg-defs {
  position: absolute;
  height: 0px;
}

/* .cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 120px));
  grid-gap: 12px;
} */

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  grid-gap: 12px;
  grid-auto-flow: column;
  max-width: fit-content;
  margin: auto
}

.card-container {
  min-width:80px;
  width: 120px;
  border-radius: 16px;
  padding: 18px;
  display: block;
  aspect-ratio: 2.5/3.5;
  background: white;
  border: 2px solid rgb(200, 200, 200);
  transition: all 0.2s;
}

.card-container--active {
  transform: scale(1.05);
  background-color: #fffaf5;
  border-color: #d7b88f;
}

.no-card {
  aspect-ratio: 2.5/3.5;
}

.card {
  display: grid;
  height: 100%;
  width: 100%;
  align-content: center;
  grid-gap: 3px;

}
.symbol--green {
  color: #755B7B;
}

.symbol--red {
  color: #cd5c5c;
}

.symbol--blue {
  color: #64a18d
}