.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 120px));
  grid-gap: 0.5rem;
}
.card-container {
  border-radius: 16px;
  padding: 18px;
  display: block;
  aspect-ratio: 2.5/3.5
}

.card {
  display: grid;
  height: 100%;
  width: 100%;
  align-content: center;
  grid-gap: 3px;

.symbol {
  /* padding: 1rem; */
}